.UnauthHome {
    text-align: center;
    
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: 'source-code';
    background-color: #040D12;
}

#navtext {
    color: rgb(241, 236, 229);
    text-decoration:underline;
    text-align: right;
    padding-right: 5%;
    padding-top: 0%;
}

.headerbar {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom: #040D12;
    border-bottom-width: 3px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
}

#npgheader {
    font-family: 'source-code';
    font-weight: 500;
    text-decoration: underline;
    filter: drop-shadow(5px 5px 10px #000000);
}

#cookie_clicker_cnt {
    display: flex;
    font-family: 'source-code';
    font-weight: 500;
    margin-left: 5%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    height: 150px;
}

.staff_box {
    display: flex;
    flex-direction: column;
    background-color: #5C8374;
    height: fit-content;
}

#staff_header {
    font-family: 'source-code';
    font-weight: 400;
    filter: drop-shadow(5px 5px 10px #000000);
    text-decoration: underline;
    color: #ffffff;
}

.staff_photos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.games_box {
    display: flex;
    background-color: #183D3D;
    justify-content: center;
    font-family: 'source-code';
    height: fit-content;
    flex-direction: column;
}

#games_header {
    color: #ffffff;
    font-weight: 400;
    text-decoration: underline;
    filter: drop-shadow(5px 5px 10px #000000);
}

.bottom_bar {
    height: 20px;
    background-color: #000000;
}

.footer_button_cnt {
    background-color: #183D3D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goto_gen_button {
    width: 180px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    font-weight: 400;
    margin-bottom: 20px;
}

#add_game_link {
    width: 180px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    font-weight: 400;
    margin-bottom:20px;
    margin-top: 10px;
}

